*{
    margin: 0%;
    padding: 0%;
}
.section-box {
  text-align: center;
   padding: 20px;
   border-bottom: 2px solid rgb(210, 200, 200);
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
 nav img{
   width: 80px;
 }
 
 img {
   font-size: larger;
   font-weight: bolder;
   padding: 10px;
 }
 .background-images {
    background-color: #eee;
 }
 input {
   
   width: 400px;
   border-radius: 50px;
   height: 45px;
   text-align: left;
   background-color:white

 }
 

 
 
 .icons-rightSide {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   justify-content: space-around;
   align-items: center;
 }
 .content {
  background: url(WhatsApp\ Image\ 2023-05-15\ at\ 09.04.27.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 65vh;
  width: 100vw;
 }
 .footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white;
 }
 
 a {
   text-decoration: none;
   padding: 7px;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
 }
 .box-text {
  position: absolute;
  margin-top: 4rem;
  margin-left: 5rem;
   width: 26%;
   background-color: white;
   padding: 20px;
   /* border-radius: 20px; */
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   box-shadow: rgba( 4,4,4, 0.707) 0px 2px 8px 0px;
 }
 img {
   padding: 27px;
   width:16%
 }

 
 h2, b {
   padding-left: 15px;
   font-size: medium;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }
 b {
   text-decoration: underline;
   margin-left: 40px;
 }
 h2 {
   background-color: white;
   padding: 20px;
   color: blue;
 }
 .logo {
  color: white;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 25px;
 }
 
 

